<h1 class="text-center text-muted bg-light p-3">Welcome To our Blog</h1>
<% if current_user %>
    <p class="h3 w-50 text-center mx-auto p-5 rounded text-light bg-dark">Hello , <% current_user %> you are logged in</p>
    <p class="h3 w-50 text-center mx-auto">
        <button class="btn btn-success fs-4">
            Add Post
        </button>
    </p>
    <table class="table w-75 mx-auto table-striped table-hover rounded shadow-lg text-center bg-light">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Created At</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% @posts.each do |post| %>
                
                <tr>
                    <td><%= post.title %></td>
                    <td><%= post.description %></td>
                    <td><%= post.created_at %></td>
                    <td>
                        <%= button_to "Delete", {:controller => :posts, :action => :destroy,:id=> post.id}, method: :delete, class: "text-light btn btn-danger" %>
                        <%
=begin%>
 <%= button_to "Edit", "/posts/<%= post.id %>/update", method: :put ,class: "text-light btn btn-primary" %> 
<%
=end%>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>